# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

**/build
**/release
xcode/

install/bin/sfu
install/logs/*.log

worker/out
vc2026/

subprojects
!subprojects/*.wrap

**/.DS_Store
vc2026/Debug/
vc2026/deps/abseil-cpp/absl/profiling/absl_periodic_sampler.dir/Debug/
vc2026/deps/abseil-cpp/absl/strings/absl_cord.dir/Debug/
vc2026/deps/abseil-cpp/absl/strings/absl_cord_internal.dir/Debug/
vc2026/deps/abseil-cpp/absl/strings/absl_cordz_handle.dir/Debug/
vc2026/deps/abseil-cpp/absl/strings/absl_string_view.dir/Debug/
vc2026/deps/abseil-cpp/absl/time/absl_time_zone.dir/Debug/
vc2026/deps/abseil-cpp/absl/types/absl_bad_variant_access.dir/Debug/
vc2026/deps/libsrtp/datatypes_driver.dir/Debug/
vc2026/deps/libsrtp/rdbx_driver.dir/Debug/
vc2026/deps/libsrtp/srtp_driver.dir/Debug/
vc2026/deps/libsrtp/srtp2.dir/Debug/
vc2026/deps/libuv/uv_a.dir/Debug/
vc2026/deps/libwebrtc/webrtc.dir/Debug/
vc2026/deps/oatpp/src/oatpp.dir/Debug/
vc2026/deps/oatpp/src/oatpp-test.dir/Debug/
vc2026/deps/oatpp-openssl/src/oatpp-openssl.dir/Debug/
vc2026/deps/oatpp-websocket/src/oatpp-websocket.dir/Debug/
vc2026/deps/usrsctp/usrsctplib/usrsctp.dir/Debug/
vc2026/sfu/sfu.dir/Debug/
vc2026/x64/Debug/
vc2026/.vs/
vc2026/CMakeFiles/
vc2026/deps/abseil-cpp/absl/base/absl_base.dir/Debug/
vc2026/deps/abseil-cpp/absl/base/absl_log_severity.dir/Debug/
vc2026/deps/abseil-cpp/absl/base/absl_malloc_internal.dir/Debug/
vc2026/deps/abseil-cpp/absl/base/absl_scoped_set_env.dir/Debug/
vc2026/deps/abseil-cpp/absl/base/absl_spinlock_wait.dir/Debug/
vc2026/deps/abseil-cpp/absl/base/absl_strerror.dir/Debug/
vc2026/deps/abseil-cpp/absl/base/absl_throw_delegate.dir/Debug/
vc2026/deps/abseil-cpp/absl/crc/absl_crc_cord_state.dir/Debug/
vc2026/deps/abseil-cpp/absl/crc/absl_crc_internal.dir/Debug/
vc2026/deps/abseil-cpp/absl/crc/absl_crc_cpu_detect.dir/Debug/
vc2026/deps/abseil-cpp/absl/crc/absl_crc32c.dir/Debug/
vc2026/deps/abseil-cpp/absl/debugging/absl_debugging_internal.dir/Debug/
vc2026/deps/abseil-cpp/absl/debugging/
vc2026/deps/abseil-cpp/absl/flags/absl_flags_commandlineflag.dir/Debug/
vc2026/deps/abseil-cpp/absl/flags/absl_flags_commandlineflag_internal.dir/Debug/
vc2026/deps/abseil-cpp/absl/flags/absl_flags_config.dir/Debug/
vc2026/deps/abseil-cpp/absl/flags/absl_flags_internal.dir/Debug/
vc2026/deps/abseil-cpp/absl/hash/absl_low_level_hash.dir/Debug/
vc2026/deps/abseil-cpp/absl/profiling/absl_exponential_biased.dir/
vc2026/deps/abseil-cpp/absl/random/absl_random_internal_seed_material.dir/Debug/
vc2026/deps/
vc2026/sfu/.vs/
vc2026/worker/.vs/
WINDOWS_BUILD_GUIDE.md
